
 /* @media(min-width:480px){
  body{
   max-width:768px;
   margin: auto;
  } */
#a{
  height: 75px;
  width: 100%;
  font-weight: bold;
  line-height: 75px;
  

}


#b{
  height: 150px;
  width: 100%;
  line-height: 150px;
  font-weight: bold;
  

}
#c{
  height: 125px;
  width: 100%;
  line-height: 125px;
  font-weight: bold;
  
}
#d{
  height: 125px;
  width: 100%;
  line-height: 125px;
  font-weight: bold;
  
}
#e{
  height: 250px;
  width: 50%;
  float: left;
  font-weight: bold;
  line-height: 250px;
  

}
#f{
  height: 250px;
  width: 50%;
  font-weight: bold;
  line-height: 250px;
  
}
#g{
 
  height: 250px;
  width: 50%;
  float: left;
  font-weight: bold;
  line-height: 250px;
  
}
#h{
  height: 250px;
  width: 50%;
  font-weight: bold;
  line-height: 250px;
  
}
#i{
  height: 80px;
  width: 100%;
  font-weight: bold; 
  line-height: 80px; 
}
 