
@media(min-width:768px){
  body{
   max-width:960px;
   margin: auto;
  }
#a{
  height: 100px;
  width: 100%;
  font-weight: bold;
  line-height: 100px;
  
  

}


#b{
  height: 600px;
  width: 20%;
  float: left;
  font-weight: bold;
  line-height: 600px;
  

}
#c{
  height: 200px;
  width: 40%;
  float: left;
  line-height: 200px;
  
 
}
#d{
  height: 200px;
  width: 40%;
  font-weight: bold;
  line-height: 200px;
  
  
}
#e{
  height: 250px;
  width: 20%;
  float: left;
  font-weight: bold;
  line-height: 250px;
  

}
#f{
  height: 250px;
  width: 20%;
  float: left;
  font-weight: bold;
  line-height: 250px;
  
}
#g{
 
  height: 250px;
  width: 20%;
  float: left;
  font-weight: bold;
  line-height: 250px;
  
  
}
#h{
  height: 250px;
  width: 20%;
  font-weight: bold;
  line-height: 250px;
  
}
#i{
  height: 150px;
  width: 80%;
  font-weight: bold;
  line-height: 150px;
  
}

}
